[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.118.2",
    "flask>=3.1.2",
    "flask-wtf>=1.2.1",
    "uvicorn>=0.37.0",
]
