<html lang="en">
    <head>
        <title>SearchnWatch | Need something to watch? | Best Media Reccomender</title>
    </head>
    <body>
        <h1>Welcome to Search-n-Watch!</h1>
        <h4>We bring movies and shows to you!</h4>
        <div, class="buttons">
            <a href="/find">
                <button>Find Media</button>
            </a>
            <a href="/search">
                <button>Browse TV</button>
            </a>
            <a href="/help">
                <button>Need Help?</button>
            </a>
        </div>
        
    </body>
</html>