<html lang="en">
    <head>
        <title>SearchnWatch | Need something to watch? | Best Media Reccomender</title>
    </head>
    <body>
        <h1>Search-n-Watch!</h1>
        <h4>{{page_name}}</h4>
        <p>{{page_content | default(page_name)}}</p>
        {% if page_name == "Find Media" %}
            <a href="/random_movie">
            <button>Find Random Movie</button>
            </a>
        {% endif %}
        <br>
        <div, class="buttons">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/help">
                <button>Need Help?</button>
            </a>
        </div>
        
        
    </body>
</html>