{% extends "preset.html" %}
{% block content %}
<i>
    <h3>{{media_title}}</h3>
</i>



<img src="https://image.tmdb.org/t/p/w500{{media_info['poster_path']}}">

<!-- Like form -->
{% if current_user.is_authenticated %}

{% if check_media_obj_in_user_liked(media_id, current_user) %}
<p>Movie already liked</p>
{%else%}
<form method="POST">
    {{ like_form.hidden_tag() }}
    {{ like_form.submit() }}
</form>
{% endif %}

{% endif %}

{% for key, info in media_info.items() %}
{% if key != 'poster_path' %}

{% if info is iterable and info is not string %}
<h4>{{key | title}}:</h4>
<ul>

    {% for info2 in info %}
    <li>{{info2}}</li>
    {%endfor%}
</ul>
{% else %}
<div>
    <h4><b>{{key | title}}:</b>
        {% if key != "type of media" %}
        <p>{{info}}</p>
        {%else%}
        <p>{{info | title}}</p>
        {% endif %}
    </h4>
</div>
{%endif%}

{%endif%}

{%endfor%}

{%endblock%}