{% extends "preset.html" %}
{% block content %}
<div class='form-container'>
    <form action="#" method="post">
        {{form.hidden_tag()}}
        {{form.username.label}}
        {{form.username()}}
        {{form.password.label}}
        {{form.password()}}
        {{form.submit()}}
        
        {% if page_name != "Sign Up" %}
            <a href="{{ url_for('signup', page_name='Sign Up') }}">Sign up?</a>
        {%else%}
            <a href='/login'>Login?</a>
        {% endif %}
    </form>
</div>
{%endblock%}