{% extends "preset.html" %}
{% block content %}

<div class='tab-container'>
  <a class='tab' href="{{url_for('search_user', query=query)}}">Users</a>
</div>

<h1>Movies and Shows</h1>
{% for dict in media_found %}
<div class='{% if loop.index % 2 == 0 %}media1{% else %}media2{% endif %}'>
  <h4 class="media-search-title-wrapper">
    <a class='media-search-title' href="{{url_for('media_page',
                      media_name=dict['title'],
                      media_id=dict['id'],
                      media_type=dict['type of media'])}}">
      {{dict['title']}} ({{dict['release date'][:4]}})
    </a>
  </h4>

  <a class='media-search-image'
    href="{{url_for('media_page', media_name=dict['title'], media_id=dict['id'], media_type=dict['type of media'])}}">
    <img src="https://image.tmdb.org/t/p/w185{{dict['poster_path']}}">
    <br>
    {{dict['title']}}
  </a>

  <div class='media-search-info'>
    <p>{{dict['rating']}}</p>
    <p>{{dict['overview'][:60]}}...</p>
    {% if dict['liked_status'] == True %}
    <form method="post"
      action="{{url_for('like_title_from_search', media_id=dict['id'], media_type=dict['type of media'], query=query, page_num=page_num)}}">
      {{like_form.hidden_tag()}}
      <button type="submit"><ion-icon name="heart" size="large"></ion-icon></button>
    </form>
    {% elif dict['liked_status'] %}
    <p>In your likes!</p>
    {% endif %}
  </div>

</div>
{% endfor %}

{% if page_num != 1 %}
<a href="{{url_for('search_media', page_num=page_num-1, query=query)}}">Previous</a>
{% endif %}

<a href="{{url_for('search_media', page_num=page_num+1, query=query)}}">Next</a>
{%endblock%}