{% extends "preset.html" %}
{% block content %}

<h3>@{{username}}</h3>
{% if display_private %}
<h3>Welcome {{username}}!</h3>
<a href="{{url_for('logout')}}">Log out</a>
{% endif %}
<h4>Liked Titles:</h4>
{% for dict in liked_titles %}
<div class='{% if loop.index % 2 == 0 %}media1{% else %}media2{% endif %}'>
    <h4>{{dict['title']}} ({{dict['release date'][:4]}})</h4>
    <a href="{{url_for('media_page', media_name=dict['title'], id=dict['id'], media_type=dict['type of media'])}}">
        <img src="https://image.tmdb.org/t/p/w92{{dict['poster_path']}}">
        <br>
        {{dict['title']}}
    </a>
    <p data-id='search_info'>{{dict['overview'][:60]}}...</p>
</div>
{% endfor %}

{% endblock %}